footer.duyi-footer
  .duyi-main-footer.container
    .row
      .duyi-footer-intro.col-md-4.col-sm-12
        p DUYI EDUCATION
        p 经历多年的市场积累，企业独创"引导式教学"+"点对点教学服务"+"关卡制审核"系统，以确保每位学员能在指定的培训周期中高质量的完成学业。除客观保障教学质量外，主观上，为确保学员在心理上能够达到高效状态，企业教学服务部专门外聘心理疗愈师为学员做压力疏导，双向确保学员完成学业率实现100%。
      .duyi-footer-categories.col-md-2
        p CATEGORIES
        ul
          li About
          li Forum
          li Service
          li Portfolio
          li Contact
      .duyi-footer-qrcode.col-md-6.col-sm-12
        .row
          .col-md-4.col-xs-4
            img(src="http://p6alxlphh.bkt.clouddn.com/%E5%B0%8F%E6%B8%A1%E5%BE%AE%E4%BF%A1%E4%BA%8C%E7%BB%B4%E7%A0%81.png")
            p 渡一官方公众号
          .col-md-4.col-xs-4
            img(src="http://p6alxlphh.bkt.clouddn.com/%E5%B0%8F%E6%B8%A1%E5%BE%AE%E4%BF%A1%E4%BA%8C%E7%BB%B4%E7%A0%81.png")
            p 渡一官方公众号
          .col-md-4.col-xs-4
            img(src="http://p6alxlphh.bkt.clouddn.com/%E5%B0%8F%E6%B8%A1%E5%BE%AE%E4%BF%A1%E4%BA%8C%E7%BB%B4%E7%A0%81.png")
            p 渡一官方公众号
  .duyi-copyright
    p Copyright 2018 DUYI EDUCATION Version 1.0.0