footer.duyi-footer
  .duyi-main-footer.container
    .row
      .duyi-footer-intro.col-md-4.col-sm-12
        p 子曰
        p 学而时习之，不亦说乎
        p 有朋自远方来，不亦乐乎
        p 人不知而不愠，不亦君子乎
      .duyi-footer-categories.col-md-2
        p CATEGORIES
        ul
          li About
          li Forum
          li Service
          li Portfolio
          li Contact
      .duyi-footer-qrcode.col-md-6.col-sm-12
        .row
          .col-md-6.col-xs-6
            img(src="http://p7u4khtgt.bkt.clouddn.com/ebab5599a905be3323365c4e571207e.png")
            p 微信
          .col-md-6.col-xs-6
            img(src="http://p7u4khtgt.bkt.clouddn.com/9926cc8769138f064fa548afceaf740.png")
            p 支付宝
  .duyi-copyright
    p Copyright © 2017 Tianli Wang