footer.duyi-footer
  .duyi-main-footer.container
    .row
      .duyi-footer-intro.col-md-4.col-sm-12
        p DUYI EDUCATION
        p 詹姆斯代表美国男篮获得了2012年伦敦奥运会金牌，追平了迈克尔·乔丹在1992年所创的纪录。2013年，詹姆斯获得第4个常规赛MVP、第2个NBA总冠军和第2个总决赛MVP，实现两连冠。2014年，詹姆斯回归骑士，与凯里·欧文、凯文·乐福组成“三巨头”阵容。2016年，詹姆斯带领骑士逆转战胜卫冕冠军勇士获得队史首个.
      .duyi-footer-categories.col-md-2
        p CATEGORIES
        ul
          li About
          li Forum
          li Service
          li Portfolio
          li Contact
      .duyi-footer-qrcode.col-md-6.col-sm-12
        .row
          .col-md-4.col-xs-4
            img(src="")
            p 渡一官方公众号
          .col-md-4.col-xs-4
            img(src="")
            p 渡一官方公众号
          .col-md-4.col-xs-4
            img(src="")
            p 渡一官方公众号
  .duyi-copyright
    p Copyright 2018 DUYI EDUCATION Version 1.0.0