header.duyi-header.duyi-header-show
  .duyi-header-box
    a(href="/login").duyi-logo
      img(src="http://p7u4khtgt.bkt.clouddn.com/wtl.png")
    ul.duyi-header-right
      li.duyi-header-li
        a(href="/")
          span 首页
      li.duyi-header-li
        a(href="/study")
          span 技术文章
      li.duyi-header-li
        a(href="/daily")
          span 生活照片
      li.duyi-header-li
        a(href="/about")
          span 关于
button.duyi-header-button
  .duyi-header-button-midline
    span  
    span
    span
      