header.duyi-header.duyi-header-show
  .duyi-header-box
    a(href="/").duyi-logo
      img(src="http://p6alxlphh.bkt.clouddn.com/logo.png")
    ul.duyi-header-right
      li.duyi-header-li
        a(href="/")
          span 首页
          //- span.duyi-header-li-line
      li.duyi-header-li
        a(href="/study")
          span 课程学习
          //- span.duyi-header-li-line
      li.duyi-header-li
        a(href="/student")
          span 学员展示
          //- span.duyi-header-li-line
      li.duyi-header-li
        a(href="/about")
          span 关于
          //- span.duyi-header-li-line
      li.duyi-header-li-line.duyi-header-li-line-show
button.duyi-header-button
  .duyi-header-button-midline
    span  
    span
    span
      