header.duyi-header
  .duyi-header-box
    a(href="/").duyi-logo
    ul.duyi-header-right
      li.duyi-header-li
        a(href="/")
          span 首页
      li.duyi-header-li
        a(href="/")
          span 课程学习
      li.duyi-header-li
        a(href="/")
          span 学员展示
      li.duyi-header-li
        a(href="/")
          span 关于
      li.duyi-header-li-line