footer.duyi-study-footer
    .duyi-study-main-footer
        .duyi-study-footer-intro.duyi-study-footer-item
            p DUYI EDUCATION
            p 经历多年的市场积累，企业独创"引导式教学"+"点对点教学服务"+"关卡制审核"系统，以确保每位学员能在指定的培训周期中高质量的完成学业。除客观保障教学质量外，主观上，为确保学员在心理上能够达到高效状态，企业教学服务部专门外聘心理疗愈师为学员做压力疏导，双向确保学员完成学业率实现100%。
        .duyi-study-footer-categories.duyi-study-footer-item
            p CATEGORIES
            ul
                li About
                li Forum
                li Service
                li Portfolio
                li Contact
        .duyi-study-footer-qrcode.duyi-study-footer-item
            .duyi-study-footer-qrcode-row
                .duyi-study-footer-qrcode-row-item
                    div
                    p 渡一官方公众号
                .duyi-study-footer-qrcode-row-item
                    div
                    p 渡一官方公众号
                .duyi-study-footer-qrcode-row-item
                    div
                    p 渡一官方公众号
    .duyi-study-copyright
        p Copyright 2018 DUYI EDUCATION Version 1.0.0