extend layout

block content
    .duyi-content
        section.duyi-about-summary
            .duyi-about-summary-title.container
                p 个人简介
                span
                p 专注于web前端，但不局限于web前端
            .duyi-about-summary-content
                .duyi-about-summary-content-item.duyi-about-summary-content-on
                    p About
                    p 王天立，2014-2018 黑龙江大学 计算机科学与技术专业
                    p 2016年接触web方向，喜欢研究新的技术，对web技术有着浓厚的兴趣
                    p 擅长技术：jquery，react，redux，electron
                .duyi-about-summary-content-item.duyi-about-summary-content-tw
                    img(src="http://p6alxlphh.bkt.clouddn.com/picture2.png")
                .duyi-about-summary-content-item.duyi-about-summary-content-th
                    span.duyi-about-summary-content-th-border
                    .duyi-about-summary-content-th-wrapper
                        p 实习经历
                        ul
                            li 2016.12.21-2017.10.31 百度网页搜索部
                            li 2017.11.15-2017.12.22 美团点评企业平台部

                .duyi-about-summary-content-item.duyi-about-summary-content-fo
                    img(src="http://p6alxlphh.bkt.clouddn.com/picture3.png")
        section.duyi-about-poster
            .duyi-about-poster-content
                .duyi-about-poster-img-wrapper.duyi-dom-translate
                    img(src="http://p6alxlphh.bkt.clouddn.com/about-poster.png")
                .duyi-about-poster-intro
                    p.duyi-dom-translate 如何学习web前端技术
                    p.duyi-dom-translate 这是一个个人门户网站，也可以算是一个前端技术门户网站。
                    p.duyi-dom-translate 推荐书籍：Linux Shell 脚本攻略，Javascript权威指南，Javascript设计模式，高性能Javascript，数据结构与算法（Jvascript版本）,实战ES6...

        section.duyi-about-join
            .duyi-about-join-wrapper
                .duyi-about-join-title.duyi-dom-translate
                    p 
                    p 学习资料、个人总结
                .duyi-about-join-content.duyi-dom-translate
                    .duyi-about-join-content-left
                        a(href="http://www.cnblogs.com/lei2007/archive/2013/08/16/3262897.html") 前端性能优化
                        a(href="https://blog.csdn.net/u014267183/article/details/52846524") 常见排序的js实现
                        a(href="http://www.ruanyifeng.com/blog/2018/02/node-event-loop.html") node定时器详解
                    .duyi-about-join-content-right
                        a(href="http://note.youdao.com/noteshare?id=b612ca0697fc935790fab1f1beb5ced0") pdf预览总结
                        a(href="http://note.youdao.com/noteshare?id=9ee418385eb505c6e9ccb0a7c5bd178b") 百度实习总结
                        a(href="http://note.youdao.com/noteshare?id=172ee3ab57e609e41776fe9687d1ab30") 美团实习总结
            .duyi-about-map
                p I'M HERE
                .duyi-about-map-content.duyi-dom-translate
                    #duyi-about-map-container
                    .duyi-about-map-address
                        span 地址：黑龙江省哈尔滨市南岗区学府路74号
                        span 电话：13206682870