extend layout

block content
    .duyi-content
        section.duyi-about-summary
            .duyi-about-summary-title.container
                p 渡一教育
                p DUYI EDUCATION
                p 如今的你，并不了解所谓的生活，但我希望你能为它早些做准备，人生其实并不漫长，更早的进入正轨，少走些弯路
                p 这或许就是我们送给你最珍贵的礼物
            .duyi-about-summary-content
                .duyi-about-summary-content-item.duyi-about-summary-content-on
                    p About
                    p 我公司成立于2007年，原名明彦科技有限公司，后兼并整合黑龙江万斛科技有限公司，成立渡一信息技术开发有限公司，下设渡一教育品牌。
                    p 公司核心业务包含科技类外包，IT教育培训等业务。企业开展教育业务至今已有10年整，市场辐射范围已达全国及部分海外区域，是国内首家开设专业web前端培训的机构。
                    img(src="http://p6alxlphh.bkt.clouddn.com/DUYI.png").duyi-dom-translate
                .duyi-about-summary-content-item.duyi-about-summary-content-tw
                    img(src="http://p6alxlphh.bkt.clouddn.com/picture2.png")
                .duyi-about-summary-content-item.duyi-about-summary-content-th
                    span.duyi-about-summary-content-th-border
                    .duyi-about-summary-content-th-wrapper
                        p Unique
                        ul
                            li 国内唯一一家实现同期就业率100%的科技类教育机构;
                            li 国内唯一一家培养出43W年薪学员的科技类教育机构（国内行业）;
                            li 国内唯一一家可以跟学员签署保证就业合同的科技类机构（就业年薪不到10W，全额退还学费）。
                .duyi-about-summary-content-item.duyi-about-summary-content-fo
                    img(src="http://p6alxlphh.bkt.clouddn.com/picture3.png")
        section.duyi-about-poster
            .duyi-about-poster-content
                .duyi-about-poster-img-wrapper.duyi-dom-translate
                    img(src="http://p6alxlphh.bkt.clouddn.com/about-poster.png")
                .duyi-about-poster-intro
                    p.duyi-dom-translate 总想给你最好的
                    p.duyi-dom-translate 如果一个同学来到了渡一，走时你只带走了技能，我们就不算成功。
                    p.duyi-dom-translate 你可以在保证技术能力的前提下，提升个人修养，更加透彻的了解并欣赏这个世界，进而增强对自己的认知，在未来的人生轨迹中更快更好的找到属于自己的生活方式，希望通过我们的努力，对你产生哪怕一丁点额外的收获，这对我们来说，就是功德无量！

        section.duyi-about-join
            .duyi-about-join-wrapper
                .duyi-about-join-title.duyi-dom-translate
                    p JOIN US
                    P 热爱技术 热爱分享
                .duyi-about-join-content.duyi-dom-translate
                    .duyi-about-join-content-left
                        p web前端高级讲师
                        p 岗位要求
                    .duyi-about-join-content-right
                        p JavaScript高级讲师
                        p 岗位要求
            .duyi-about-map
                p WE ARE HERE
                .duyi-about-map-content.duyi-dom-translate
                    #duyi-about-map-container
                    .duyi-about-map-address
                        span 地址：黑龙江哈尔滨南岗区金爵万象-三期-3号楼1612室
                        span 电话：12121212121