doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    title= title
    block scripts
    script(src="http://api.map.baidu.com/api?v=3.0&ak=LHHYeG3yQFQdUMNRDU5wfWHcy6YTR93p")
  body
    // header
    include includes/header
    // content
    block content
    // footer
    include includes/footer
    
    script(src="index.js")