.duyi-content {
    padding-bottom: 563px;
    .duyi-student-employment {
        margin-top: 360px;
        .duyi-student-employment-title {
            text-align: center;
            font-family: PingFang;
            p:nth-child(1) {
                font-size: 48px;
                font-weight: bold;
                color: #282828;
                margin-bottom: 28px;
            }
            p:nth-child(2) {
                margin-bottom: 36px;
            }
            p:nth-child(2),
            p:nth-child(3) {
                font-size: 16px;
                color: #4e4e4e;
            }
            .duyi-student-employment-arrow {
                width: 100%;
                height: 17px;
                margin-top: 194px;
                background: url(../images/arrow.png) no-repeat 50% 0 / contain;
            }
        }
        .duyi-student-employment-content {
            width: 100%;
            height: 890px;
            background-color: black;
            margin-top: 38px;
            .duyi-student-employment-content-wrapper {
                margin: 0 auto;
                height: 100%;
                padding: 72px 8vw 70px;
                .duyi-student-employment-content-headline {
                    margin: 50px auto 0;
                    width: 70px;
                    height: 2px;
                    display: block;
                    background-color: #fff;
                }
                .duyi-student-employment-content-list {
                    color: #fff;
                    font-size: 12px;
                    margin-top: 142px;
                    height: 478px;
                    .duyi-student-employment-ul {
                        float: left;
                        width: 33%;
                        .duyi-student-employment-li {
                            width: 90%;
                            height: 16px;
                            line-height: 16px;
                            margin-bottom: 5px;
                            span:nth-child(2) {
                                margin-left: 20px;
                            }
                            span:nth-child(3) {
                                margin-left: 20px;
                            }
                            span:nth-child(4) {
                                margin-left: 20px;
                            }
                        }
                    }
                }
                .duyi-student-employment-content-list:after {
                    content: '';
                    display: block;
                    clear: both;
                }
            }
            
        }
    }
    .duyi-student-describe {
        margin-bottom: 160px;
        .duyi-student-describe-item {
            height: 970px;
            width: 100%;
            .duyi-student-describe-item-left {
                height: 100%;
                float: left;
            }
            .duyi-student-describe-item-right {
                height: 100%;
                float: right;
            }
        }
        .duyi-student-story {
            position: relative;
            .duyi-student-story-left {
                width: 40%;
            }
            .duyi-student-story-right {
                width: 60%;
                background-color: #eee;
            }
            .duyi-student-story-wrapper {
                position: absolute;
                top: 188px;
                height: 574px;
                width: 1300px;
                left: 50%;
                transform: translateX(-50%);
                // border: 1px solid black; 
                video {
                    float: left;
                    width: 888px;
                    height: 100%;
                    border: 1px solid black;
                }
                .duyi-student-story-right-wrapper {
                    float: right;
                    width: 412px;
                    height: 100%;
                    padding-left: 136px;
                    position: relative;
                    .duyi-student-story-right-icon {
                        margin-top: 7px;
                        span:nth-child(1) {
                            display: block;
                            width: 0;
                            height: 0;
                            border-top: 12px solid burlywood;
                            border-left: 12px solid transparent;
                            border-right: 12px solid transparent;
                            transform: rotate(45deg);
                            margin-left: -7px;
                        }
                        span:nth-child(2) {
                            margin-top: 20px;
                            display: block;
                            width: 2px;
                            height: 70px;
                            background-color: burlywood;
                        }
                    }
                    .duyi-student-story-right-font {
                        position: absolute;
                        bottom: 0;
                        color: #232323;
                        font-family: PingFang;
                        p:nth-child(1) {
                            font-size: 48px;
                        }
                        p:nth-child(2) {
                            font-size: 18px;
                            margin-top: 16px;
                            margin-bottom: 0;
                        }
                    }
                }
            }
        }
        .duyi-student-campus {
            position: relative;
            .duyi-student-campus-left {
                width: 40%;
                background-color: #eee;
            }
            .duyi-student-campus-right {
                position: relative;
                width: 60%;
            }
            .duyi-student-campus-wrapper {
                position: absolute;
                top: 142px;
                width: 1300px;
                height: 720px;
                left: 50%;
                transform: translateX(-50%);
                .duyi-student-campus-left-photo {
                    float: left;
                    div {
                        width: 656px;
                        height: 720px;
                        border: 1px solid black;
                        position: relative;
                        p {
                            display: inline-block;
                            width: 80px;
                            height: 110px;
                            color: #fff;
                            font-size: 40px;
                            margin-bottom: 0;
                            left: 120px;
                            top: 120px;
                            position: absolute;
                        }
                        span {
                            display: block;
                            position: absolute;
                            width: 70%;
                            height: 70%;
                            border: 3px solid black;
                            left: 50%;
                            top: 50%;
                            transform: translate(-50%, -50%);
                        }
                    }
                }
                .duyi-student-campus-right-photo {
                    float: right;
                    width: 644px;
                    height: 100%;
                    padding-left: 22px;
                    .duyi-student-campus-right-top {
                        width: 100%;
                        height: 424px;
                        margin-bottom: 26px;
                    }
                    .duyi-student-campus-right-bottom {
                        width: 100%;
                        height: 270px;
                        div{
                            display: inline-block;
                            width: 300px;
                            height: 100%;
                        }
                        div:nth-child(2) {
                            margin-left: 22px;
                        }
                    }
                }
            }
        }
        .duyi-student-activity {
            position: relative;
            .duyi-student-activity-left {
                width: 40%;
            }
            .duyi-student-activity-right {
                width: 60%;
                background-color: #eee;
            }
            .duyi-student-activity-wrapper {
                position: absolute;
                width: 1300px;
                height: 680px;
                top: 132px;
                left: 50%;
                transform: translateX(-50%);
                .duyi-student-activity-photo {
                    width: 1022px;
                    height: 680px;
                    float: left;
                    border-right: 1px solid black;
                }
                .duyi-student-activity-right-wrapper {
                    width: 278px;
                    float: right;
                    height: 680px;
                    color: #232323;
                    padding-left: 80px;
                    font-family: PingFang;
                    position: relative;
                    .duyi-student-activity-right-top {
                        width: 100%;
                        font-size: 18px;
                        line-height: 30px;
                        word-wrap: break-word;
                    }
                    .duyi-student-activity-right-bottom {
                        position: absolute;
                        bottom: 0;
                        p {
                            font-size: 48px;
                        }
                    }
                }
            }
        }
    }
    .duyi-student-production {
        .duyi-student-production-wrapper {
            width: 1300px;
            height: 896px;
            margin: 0 auto;
            overflow: hidden;
            .duyi-student-production-row {
                width: 100%;
                // height: 500px;
                // border: 1px solid black;
                .duyi-student-production-left {
                    float: left;
                    width: 1022px;
                    height: 680px;
                    border: 1px solid black;
                }
                .duyi-student-production-right {
                    float: right;
                    width: 278px;
                    height: 680px;
                    padding-left: 50px;
                    .duyi-student-production-right-title {
                        margin-top: 50px;
                        font-size: 50px;
                        font-weight: bold;
                    }
                    div {
                        padding-left: 28px;
                        position: relative;
                        margin-top: 370px;
                        p {
                            font-size: 14px;
                            color: #898989;
                            font-family: PingFang;
                            line-height: 18px;
                        }
                    }
                    div:before {
                        content: "";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 3px;
                        height: 100%;
                        background-color: brown;
                    }
                }
            }
            .duyi-student-production-row:after {
                content: '';
                display: block;
                clear: both;
            }
            .duyi-student-production-dial {
                .duyi-student-production-dial-wrapper {
                    width: 284px;
                    height: 152px;
                    margin: 64px auto 0;
                    background: url(../images/circle.png) no-repeat;
                    position: relative;
                    z-index: 1;
                    div {
                        background: url(../images/circle-line.png) no-repeat;
                        width: 244px;
                        height: 243px;
                        position: absolute;
                        top: 21px;
                        left: 20px;
                        z-index: 2;
                        transform: rotateZ(0deg);
                    }
                    .duyi-student-production-black-line {
                        display: block;
                        position: absolute;
                        width: 244px;
                        height: 243px;
                        z-index: 2;
                        top: 21px;
                        left: 20px;
                        background: url(../images/black-line.png) no-repeat;
                    }
                    .duyi-student-production-tri-top,
                    .duyi-student-production-tri-bottom {
                        height: 8px;
                        display: inline-block;
                        position: absolute;
                        left: 50%;
                        transform: translateX(-50%);
                    }
                    .duyi-student-production-tri-top {
                        width: 15px;
                        top: 51px;
                        background: url(../images/tritop.png) no-repeat;
                    }
                    .duyi-student-production-tri-bottom {
                        width: 16px;
                        background: url(../images/tribottom.png) no-repeat;
                    }
                    .duyi-student-production-hand {
                        display: inline-block;
                        margin: 0 auto;
                        position: absolute;
                        top: 93px;
                        left: 50%;
                        animation: handRotate 4s cubic-bezier(.57,-.04,.58,1) infinite both;
                        img {
                            width: 91px;
                            height: 97px;
                        }
                    }
                    @keyframes handRotate {
                        0% {
                            transform: translateX(-50%) rotateZ(0deg);
                        }
                        25% {
                            transform: translateX(-50%) rotateZ(-30deg);
                        }
                        50% {
                            transform: translateX(-50%) rotateZ(0deg);
                        }
                        75% {
                            transform: translateX(-50%) rotateZ(30deg);
                        }
                        100% {
                            transform: translateX(-50%) rotateZ(0);
                        }
                    }
                }
            }
        }
    }
}